
/* 
    #800020
    #AFE4DE
    #FFC5CB

    for box color
    */ 
.mainBox {

    width: 400px;
    height: 500px;

    text-align: center;
}


.dangerVanilla{

    display: flex;
    justify-content: space-between;
}